:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}


.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #051627;
  color: white;
  font-weight: 600;

  a {
    margin-inline: 10px;
  }

  span {
    margin-left: 20px;
    font-size: 1.5em;
  }
}

.toolbar img {
  margin: 0 16px;

}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 8px;
}

.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #051627;

  .info-personal {
    color: #fff;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

    .info-personal-bio {
      width: 40%;
      // padding-left: 30px;

      h1 {
        font-size: 4em;
        margin-top: 20px;
        // font-weight: 400;
      }

      span {
        font-size: 1.2em;
      }

      strong {
        color: #dd8520;
      }
    }

    .info-personal-img {
      width: 40%;

      img {
        max-width: 90%;
        margin: auto;
        // margin-top: -45px;
      }
    }
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 5rem;
    // margin: auto;

    .about {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;

      .about-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        .about-img {
          width: 70%;

          img {
            max-width: 90%;
            margin: auto;
            // margin-top: -45px;
          }
        }

        .about-info-bio {
          h1 {
            font-size: 2.5em;
            color: #fff;
          }

          span {
            width: 50%;
            font-size: 1.2em;
            color: #fff;

            p {
              margin-top: 10px;

              a {
                color: #dd8520;
              }
            }
          }
        }
      }


    }

    .skill {

      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 8rem;

      .skill-title {

        h1 {
          font-size: 2.5em;
          color: #fff;
        }

        span {
          width: 50%;
          font-size: 1.2em;
          color: #fff;
        }

        margin-bottom: 2rem;
      }

      .skill-card {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .card {
          width: 300px;
          height: 20rem;
          perspective: 1000px;
          margin: 10px;
        }

        .card-inner {
          width: 100%;
          height: 100%;
          position: relative;
          transform-style: preserve-3d;
          transition: transform 0.5s;
        }

        .card:hover .card-inner {
          transform: rotateX(10deg) rotateY(10deg);
        }

        .card-front,
        .card-back {
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          overflow: hidden;
          background-color: #407256;

        }

        .card-back {
          background-color: #407256;
          transform: rotateY(100deg);
        }

        .content {
          color: #fff;
          text-align: center;
          padding: 20px;
        }
      }
    }

    .project {
      width: 100%;
      margin-bottom: 10px;

      .project-title {
        h1 {
          font-size: 2.5em;
          color: #fff;
        }

        span {
          width: 50%;
          font-size: 1.2em;
          color: #fff;
        }
      }

      .project-card-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 20px;

      }

      .card-project {
        width: 300px;
        height: 400px;
        background-color: #050225;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        transition: transform 0.5s;
        margin: 10px;
      }

      .card-project:hover {
        transform: translateY(-10px);
        box-shadow: 2px 2px 15px #fff;
      }

      .card-image-project {
        width: 100%;
        // height: 70%;
        background-size: cover;
        background-position: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        img {
          width: 100%;
          height: 70%;
          object-fit: cover;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
      }

      .card-title-project {
        padding: 10px;
        height: 70%;
        text-align: center;
        font-size: 18px;
        color: #333;

        h2 {
          margin-top: -10px;
          a{
            color: #d6d6d6;

            &:hover {
              color: #1c5f5f;
            }
          }
        }

        p {
          color: #d6d6d6;
          font-size: 1em;
        }
      }
    }

  }

  .footer {
    width: 100%;
    border-top: solid 3px #a0621b;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      color: #fff;
      font-size: 1.5em;
    }
  }

}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    background-color: #051627;

    .info-personal {
      color: #fff;
      display: flex;
      flex-direction: row;
      justify-content: center;

      .info-personal-img {
        width: 90%;

        img {
          max-width: 100%;
          margin: auto;

        }
      }
    }
  }

}

@media screen and (max-width: 575px) {

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    background-color: #051627;

    .info-personal {
      color: #fff;
      display: flex;
      flex-direction: row;
      justify-content: center;

      .info-personal-bio {
        width: 40%;
        // padding-left: 30px;

        h1 {
          font-size: 3em;
          // font-weight: 400;
        }
      }

      .info-personal-img {

        img {
          max-width: 100%;
          margin-left: 5px;

        }
      }
    }

  }

  .about-img {

    img {
      display: none;
    }
  }
}
